.news .post-item + .post-item {
    margin-top: 15px;
}


.news img {
    width: 80px;
    float: left;
    border-radius: 5px;
    margin-right: 15px;
}

.news h4 {
    font-size: 15px;
    margin-left: 9px;
    font-weight: bold;
    margin-bottom: 5px;
}

.news h4 a {
    color: #012970;
    transition: 0.3s;
}

.news h4 a:hover {
    color: #4154f1;
    transition: 0.3s;
}

.news h4 a:hover {
    color: #4154f1;
}

.news p {
    font-size: 14px;
    color: #777777;
    margin-left: 95px;
}